<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry location="/media/asuis/tools/maven-repository/mysql/mysql-connector-java/5.1.45/mysql-connector-java-5.1.45.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- !!!! Database Configurations !!!! -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://sh-cdb-pfz0ikp9.sql.tencentcdb.com:63434/real?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true" userId="root" password="HJcgk2QTT57t"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- !!!! Model Configurations !!!! -->
        <javaModelGenerator targetPackage="com.real.userserver.user.model" targetProject="com/real/userserver">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- !!!! Mapper XML Configurations !!!! -->
        <sqlMapGenerator targetPackage="mapper" targetProject="mapper">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations !!!! -->
        <javaClientGenerator targetPackage="com.real.userserver.user.dao" targetProject="com/real/userserver/" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table schema="real" tableName="user_detail"
               enableCountByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false">
            <generatedKey column="user_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table schema="real" tableName="user_auth"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               enableCountByExample="false">
            <generatedKey column="user_auth_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table schema="real" tableName="role_u" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"/>
        <table schema="real" tableName="user_role" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"/>

    </context>
</generatorConfiguration>